:root {
    --font-size-body: 14px;
    --font-size-body-large: 16px;
    --font-size-body-huge: 18px;
    --font-size-body-biggest: 20x;

    --layout-main-width: 60em;

    --color-link-default: #A00;
    --color-body-text: #000;
    --color-body-bgrd: #FFF;
    --color-border-default: #999;

    --spacing-layout-elements: 2em;
}